/* header styles */
.banner-content{
    text-align: right;
    margin-top: 80px;
    margin-right: 100px;
}
/* button styles */
.primary-btn{
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: orangered;
    border: 0px;
    border-radius: 5px;
    padding: 12px 20px;

}