/* header styles */
body {
  background-image: url(/images/banner/banner1.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.banner-content {
  text-align: right;
  margin-top: 350px;
  margin-right: 100px;
}
h1{
  font-size: 40px;
}

.title{
  font-size: 30px;
}


/* button styles */
.primary-btn {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: orangered;
  border: 0px;
  border-radius: 5px;
  padding: 12px 20px;
  margin-top: 20px;
  
}

.primary-btn:hover{
  color: rebeccapurple;
}

.primary-btn1 {
  font-size: 18px;
  font-weight: 600;
  color: orangered;
  background-color: white;
  border: 0px;
  border-radius: 5px;
  padding: 12px 20px;
  margin-top: 20px;
}

.primary-btn1:hover{
  color: rgb(253, 6, 212);
}

/* blog styles */
.blog {
  margin-top: 350px;
  display: flex;
  align-items: center;
}

.blog-image {
  width: 470px;
  height: 580px;
  margin-left: 206px;
  margin-bottom: 50px;
}

.blog-content {
  margin-left: 60px;
}

.blog-item {
  margin-left: 30px;
}

/* Plan styles */
.plans-container {
  display: flex;
  gap: 80px;
}

.plans {
  text-align: center;
  margin: 0 310px;
}

/* gradient styles */

.gradient {
  color: rgb(255, 255, 255);
  padding: 20px;
  background-image: url(/images/watch.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0px;
  border-radius: 5px;
  padding: 50px;
  
}

.gradient-content {
  margin-left: 100px;
  margin-bottom: 80px;
  margin-top: 100px;

}

.footer-content {
  display: flex;
  color: white;
  background: rgba(4, 5, 10, 0.884);
  padding: 50px;
}

/* footer styles */

.footer-description{
  margin-left: 60px;
}

.subscribe{
 margin-right: 100px;
 margin-left: 300px;
}

.input-field{
  height: 40px;
  width: 280px;
}